.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container img {
    height: 90px;
    margin-left: 2rem;
  }
  
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--title);
  }
  
  .footer-nav a:hover {
    margin: 0 10px;
    text-decoration: none;
    color: var(--Hovernav);
  }
  
  .contact-info p {
    margin: 0;
    color: var(--title);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .social-icons a {
    margin: 0 5px;
    color: black;
  }
  
  .footer-bottom {
    text-align: center;
    color: var(--title);
  }
  
  .footer-bottom span {
    color: var(--Hovernav);
  }
  
  /* Add your own styles for social icons */
  .icon-instagram,
  .icon-youtube,
  .icon-facebook,
  .icon-linkedin {
    color: var(--title);
  }
  
  /* Responsive Styling */
  @media (max-width: 800px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-nav,
    .contact-info,
    .social-icons {
      margin-top: 1rem;
    }
  
    .footer-nav,
    .contact-info,
    .social-icons,
    .footer-bottom {
      text-align: center;
    }
  
    .footer-nav a {
      margin: 5px; 
    }
  }
  