.section {
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
h2{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    color:var(--title);

}
@media (max-width: 800px) {
    section{
     flex-direction: column;
     gap: 2.64rem;
     align-items: center;

    }
    .section section.left-section.flex {
     flex-direction: row;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
   }
  
   }